{% extends "index.html" %}
{% block content %}
{{ photo | json_encode }}
{% for comment in comments %}
<div class="col-lg-8 col-md-8 col-sm-8 mb">
    <div class="weather-2 pn">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>{{ comment.username }}</p>
                </div>
                <div class="col-sm-6 col-xs-6 goright">
                    <p class="small">{{ comment.date }}</p>
                </div>
            </div>
        </div>
        <div class="row data">
            {{ comment.cmt }}
        </div>
        </div>
    </div>
</div>
{% endfor %}

{% if auth.check %}
<form action="{{ path_for('postComment', { 'photo_id': photo_id }) }}" class="col-lg-8 col-md-8 col-sm-8 " method="post" id="postComment">
    <input type="hidden" id="parent_id" name="parent_id" value="0">
    <input type="hidden" id="photo_id" name="photo_id" value="{{ photo_id }}">
    <textarea class="form-control" placeholder="Give 'em your worst!" name="cmt" id="cmt" rows="3"></textarea>
    <button type="submit" class="btn btn-default">Post Comment</button>
    {{ csrf.field | raw }}
</form>
{% else %}
<h5>
    You must be logged in to post a comment
</h5>
{% endif %}
{% endblock %}